/*@font-face {
    font-family: 'MyWebFont';
    src: url('webfont.eot'); /* IE9 Compat Modes 
    src: url('webfont.eot?#iefix') format('embedded-
    opentype'), /* IE6-IE8 
    url('webfont.woff') format('woff'),
    /* Modern Browsers 
    url('webfont.ttf') format('truetype'),
    /* Safari, Android, iOS 
    url('webfont.svg#svgFontName') format('svg');
    /* Legacy iOS }*/

ul{
    list-style: none;
}

#list-tab{
    color: white;
    background-color: black;
    border: 0;
}
.textcol{
color: #3d4287;
}
.nav-link.dropdown-toggle:hover, .dropdown-item.list-group-item:hover{
    color: #cdb8d7
}
.rounded-3{
  width: 85%; 
}
.border-primary.rounded-3.margin{
    margin-bottom: 15px;
}
